---
/*
export function getStaticPaths() {
  const paths = ufData.map((uf) => ({ params: { UF: uf.sigla } }));
  return paths;
}
*/
//console.log(UF);
import Estado from "~/layouts/Estado.astro";
import { db } from "~/supa";

export function getStaticPaths() {
  const paths = db?.map((db) => ({ params: { UF: db.UF } }));
  return paths;
}
console.log(Astro.params);
const { UF } = Astro.params;
//const index = ufData.findIndex((uf) => uf.sigla === UF);
const index: any = db?.findIndex((item) => item.UF === UF);
const uf = db[index];
---

<Estado>
  <div class="prose mx-auto p-4 text-left font-bold">
    <h1 class="">{uf.Name} - {uf.UF}</h1>
    <h2>Capital: {uf.Capital}</h2>
    <h3>{uf.Region} region</h3>
  </div>

  <div
    class="mx-auto flex flex-col justify-around gap-4 bg-gray-100 p-8 lg:flex-row"
  >
    <div class="grid place-items-center text-center">
      <img
        class="h-48 w-auto drop-shadow transition-all hover:scale-[1.6] active:scale-[1.6]"
        src=`/src/img/${uf.UF}-bandeira.svg`
        alt=""
      />
      <p class="prose mt-8 font-black">Flag</p>
    </div>
    <div class="grid place-items-center text-center">
      <img
        class="h-48 drop-shadow transition-all hover:scale-[1.6] active:scale-[1.6]"
        src=`/src/img/${uf.UF}-brasao.svg`
        alt=""
      />
      <p class="prose mt-8 font-black">Coat of Arms</p>
    </div>
  </div>
</Estado>
