---
import Maps from "~/components/maps/Brazil.astro";
import EstadoLayout from "~/layouts/EstadoLayout.astro";
import db from "./estados.json";

//console.log(JSON.stringify(db));
export function getStaticPaths() {
  const paths = db?.map((db) => ({ params: { UF: db.UF } }));
  return paths;
}
//console.log(Astro.params);
const { UF } = Astro.params;

//const index = ufData.findIndex((uf) => uf.sigla === UF);
const index: any = db?.findIndex((item) => item.UF === UF);
const uf = db[index];

const bandeira = `/states/${uf.UF}-bandeira.svg`;
const brasao = `/states/${uf.UF}-brasao.svg`;

import ListUF from "~/components/ListUF.astro";
---

<EstadoLayout>
  <div
    class="prose prose-sm mx-auto p-4 text-center font-black leading-none font-hand"
  >
    <h1 class="b-0 mt-4">{uf.Name} - {uf.UF}</h1>
    <p class="text-lg m-0">
      <span>Capital: {uf.Capital}</span> -
      <span>Região {uf.Region}</span>
    </p>
  </div>
  <section class="flex flex-col justify-center px-4 xl:flex-row xl:px-0">
    <section class="flex flex-row gap-x-8 p-6 xl:w-1/3">
      <article class="flex flex-col">
        <div>
          <a href={bandeira} data-fancybox="gallery">
            <img
              class="float-left w-64 max-w-screen-lg px-4 py-2 drop-shadow transition-all hover:z-10 hover:scale-105 active:z-10 active:scale-105"
              src={bandeira}
              alt=`Bandeira ${uf.UF}`
            />
          </a>
          <div class="prose xl:mt-8">
            <p>
              <span
                class="font-hand font-black tracking-widest border-b bg-white shadow-sm px-3 rounded mx-2"
                >Bandeira</span
              >{uf.Flag}
            </p>
          </div>
        </div>
      </article>
      <article class="flex flex-row justify-start gap-8 xl:flex-col">
        <div class="gallerye">
          <a href={brasao} data-fancybox="gallery">
            <img
              class="float-right w-64 max-w-screen-lg px-4 py-2 drop-shadow transition-all hover:z-10 hover:scale-105 active:z-10 active:scale-105"
              src={brasao}
              alt=`Brasão ${uf.UF}`
            />
          </a>
          <div class="prose xl:mt-8">
            <p>
              <span
                class="font-hand font-black tracking-widest border-b bg-white shadow-sm px-3 rounded mx-2"
                >Brasão</span
              >{uf.Coat}
            </p>
          </div>
        </div>
      </article>
    </section>
    <section id="selectState">
      <div class="eblock exl:hidden"><ListUF /></div>
      <div class="ehidden exl:block">
        <Maps />
      </div>
    </section>
  </section>

  <script>
    import { Fancybox } from "@fancyapps/ui";
    import "@fancyapps/ui/dist/fancybox/fancybox.css";

    const options = {
      Images: {
        initialSize: "full",
      },
    };

    Fancybox.bind("[data-fancybox]", {
      Images: {
        initialSize: "fit",
        Panzoom: {
          maxScale: 1.5,
          decelFriction: 0.25,
        },
      },
    });
  </script>
</EstadoLayout>
