---
/*
export function getStaticPaths() {
  const paths = ufData.map((uf) => ({ params: { UF: uf.sigla } }));
  return paths;
}
*/
//console.log(UF);
import Maps from "~/components/maps/Brazil.astro";
import Estado from "~/layouts/EstadoLayout.astro";
import { db } from "~/supa";

export function getStaticPaths() {
  const paths = db?.map((db) => ({ params: { UF: db.UF } }));
  return paths;
}
//console.log(Astro.params);
const { UF } = Astro.params;
//const index = ufData.findIndex((uf) => uf.sigla === UF);
const index: any = db?.findIndex((item) => item.UF === UF);
const uf = db[index];

---

<Estado>
  <div class="prose prose-sm mx-auto p-4 text-center" >
    <h1 class="">{uf.Name} - {uf.UF}</h1>
    <small>Capital: {uf.Capital}</small>
    <br />
    <small>{uf.Region} region</small>
  </div>
  <section 
    class="flex flex-col justify-center  px-4 lg:flex-row lg:px-0"
  >
    <section class="flex flex-col gap-8 p-8 lg:w-1/3">
      <div class="">
        <a href=`/states/${uf.UF}-bandeira.svg` data-lightbox="bandeira">
          <img
            class="drop-shadow transition-all hover:z-10 w-64 max-w-screen-lg hover:scale-110 active:z-10 active:scale-110"
            src=`/states/${uf.UF}-bandeira.svg`
            alt=`Flag of ${uf.UF}`
          />
        </a>
        <p class="prose mt-8 font-black">Flag</p>
        <p>Meaning:</p>
      </div>
      <div class="">
        <a href=`/states/${uf.UF}-brasao.svg` data-lightbox="bandeira">
          <img
            class="drop-shadow transition-all hover:scale-110 active:scale-110 w-64 max-w-screen-lg"
            src=`/states/${uf.UF}-brasao.svg`
            alt=`Coat of Arms of ${uf.UF}`
          />
        </a>
        <p class="prose mt-8 font-black">Coat of Arms</p>
        <p>Meaning:</p>
      </div>
    </section>
    <section>
      <Maps />
    </section>
  </section>
</Estado>
