---
/*
export function getStaticPaths() {
  const paths = ufData.map((uf) => ({ params: { UF: uf.sigla } }));
  return paths;
}
*/
//console.log(UF);
import Maps from "~/components/maps/Brazil.astro";
import EstadoLayout from "~/layouts/EstadoLayout.astro";
import { db } from "~/supa";

export function getStaticPaths() {
  const paths = db?.map((db) => ({ params: { UF: db.UF } }));
  return paths;
}
//console.log(Astro.params);
const { UF } = Astro.params;
//const index = ufData.findIndex((uf) => uf.sigla === UF);
const index: any = db?.findIndex((item) => item.UF === UF);
const uf = db[index];

const bandeira = `/states/${uf.UF}-bandeira.svg`;
const brasao = `/states/${uf.UF}-brasao.svg`;

// import styles
import "lightgallery/css/lightgallery.css";
import "lightgallery/css/lg-zoom.css";
import "lightgallery/css/lg-thumbnail.css";

import ListUF from "~/components/ListUF.astro";
---

<EstadoLayout>
  <div class="prose prose-sm mx-auto p-4 text-center">
    <h1 class="">{uf.Name} - {uf.UF}</h1>
    <small>Capital: {uf.Capital}</small>
    <br />
    <small>{uf.Region} region</small>
  </div>
  <section class="flex flex-col justify-center px-4 xl:flex-row xl:px-0">
    <section class="flex flex-col gap-y-8 p-8 xl:w-1/3">
      <article class="flex flex-col gap-8">
        <div>
          <a href={bandeira} id="lightgallery">
            <img
              class="float-left w-64 max-w-screen-lg p-4 drop-shadow transition-all hover:z-10 hover:scale-105 active:z-10 active:scale-105"
              src={bandeira}
              alt=`Flag of ${uf.UF}`
            />
          </a>
          <div>
            <p class="prose font-black xl:mt-8">Flag</p>
            <p>Meaning: {uf.Flag}</p>
          </div>
        </div>
      </article>
      <article class="flex flex-row justify-start gap-8 xl:flex-col">
        <div>
          <a href={brasao} id="lightgallery2">
            <img
              class="float-right w-64 max-w-screen-lg drop-shadow transition-all hover:z-10 hover:scale-105 active:z-10 active:scale-105"
              src={brasao}
              alt=`Coat of Arms of ${uf.UF}`
            />
          </a>
          <div class="z-10">
            <p class="prose font-black xl:mt-8">Coat of Arms</p>
            <p>Meaning: {uf.Coat}</p>
          </div>
        </div>
      </article>
    </section>
    <section class="block xl:hidden"><ListUF /></section>
    <section class="hidden xl:block">
      <Maps />
    </section>
  </section>
 
</EstadoLayout>
